In [12]:
pip install "numpy<1.24.0" --user

Requirement already satisfied: numpy<1.24.0 in c:\users\виктория\appdata\roaming\python\python38\site-packages (1.23.5)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [4]:
df = pd.read_csv('D:/boston_housing_.csv', sep = ';')

In [5]:
df.dtypes

crim           float64
zn             float64
indus          float64
chas             int64
nox            float64
rm             float64
age            float64
dis            float64
rad              int64
tax              int64
ptratio        float64
black          float64
lstat          float64
medv           float64
Unnamed: 14    float64
dtype: object

In [6]:
df = df.drop('Unnamed: 14', axis=1).copy()
df.sample(5, random_state = 42)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
173,0.09178,0.0,4.05,0,0.510,6.416,84.1,2.6463,5,296,16.6,395.50,9.04,23.6
274,0.05644,40.0,6.41,1,0.447,6.758,32.9,4.0776,4,254,17.6,396.90,3.53,32.4
491,0.10574,0.0,27.74,0,0.609,5.983,98.8,1.8681,4,711,20.1,390.11,18.07,13.6
72,0.09164,0.0,10.81,0,0.413,6.065,7.8,5.2873,4,305,19.2,390.91,5.52,22.8
452,5.09017,0.0,18.10,0,0.713,6.297,91.8,2.3682,24,666,20.2,385.09,17.27,16.1

In [7]:
df['medv'].describe()

count    506.000000
mean      22.532806
std        9.197104
min        5.000000
25%       17.025000
50%       21.200000
75%       25.000000
max       50.000000
Name: medv, dtype: float64

In [8]:
#разделим на train и test 
X_train, X_test, y_train, y_test = train_test_split(df.drop('medv',axis=1), df['medv'],
                                                    test_size=0.3, random_state=888)

In [9]:
y_train

454    14.9
425     8.3
201    24.1
98     43.8
255    20.9
       ...
115    18.3
150    21.5
239    23.3
493    21.8
410    15.0
Name: medv, Length: 354, dtype: float64

In [10]:
#линейнаЯ регрессия
my_LR_model = LinearRegression()

In [11]:
#обучаем модель
%%time
my_LR_model.fit(X_train, y_train)

Wall time: 144 ms

LinearRegression()

In [12]:
#предсказание по группе X_test
pred = my_LR_model.predict(X_test)

In [13]:
#оценка
test_pred = X_test.copy()
test_pred['medv_predict']=pred
test_pred['medv_real']=y_test
test_pred.to_csv('py_out.csv')
test_pred

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv_predict,medv_real
212,0.21719,0.0,10.59,1,0.489,5.807,53.8,3.6526,4,277,18.6,390.94,16.03,22.258471,22.4
274,0.05644,40.0,6.41,1,0.447,6.758,32.9,4.0776,4,254,17.6,396.90,3.53,35.923631,32.4
12,0.09378,12.5,7.87,0,0.524,5.889,39.0,5.4509,5,311,15.2,390.50,15.71,20.494300,21.7
494,0.27957,0.0,9.69,0,0.585,5.926,42.6,2.3817,6,391,19.2,396.90,13.59,20.043755,24.5
363,4.22239,0.0,18.10,1,0.770,5.803,89.0,1.9047,24,666,20.2,353.04,14.64,19.973435,16.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237,0.51183,0.0,6.20,0,0.507,7.358,71.6,4.1480,8,307,17.4,390.07,4.73,33.693229,31.5
13,0.62976,0.0,8.14,0,0.538,5.949,61.8,4.7075,4,307,21.0,396.90,8.26,20.679242,20.4
159,1.42502,0.0,19.58,0,0.871,6.510,100.0,1.7659,5,403,14.7,364.31,7.39,27.149576,23.3
318,0.40202,0.0,9.90,0,0.544,6.382,67.2,3.5325,4,304,18.4,395.21,10.36,24.706599,23.1
375,9.60910,0.0,18.10,0,0.671,7.313,97.9,1.3163,24,666,20.2,396.90,13.44,25.836341,15.0

In [14]:
print('Ошибка MSE =', mean_squared_error(test_pred['medv_real'],
                                         test_pred['medv_predict'],squared=True))
print('Ошибка RMSE =', mean_squared_error(test_pred['medv_real'],
                                          test_pred['medv_predict'],squared=False))

Ошибка MSE = 20.685627622227184
Ошибка RMSE = 4.548145514627603

In [15]:
pr_MSE=[]
pr_RMSE=[]
for i in range(200):
    X_train, X_test, y_train, y_test = train_test_split(df.drop('medv',axis=1), df['medv'],
                                                    test_size=0.3, random_state=i)
    my_LR_model = LinearRegression()
    my_LR_model.fit(X_train, y_train)
    pred = my_LR_model.predict(X_test)
    pr_MSE.append(mean_squared_error(y_test, pred,squared=True))
    pr_RMSE.append(mean_squared_error(y_test, pred,squared=False))
    
print('Среднее значение ошибки MSE =', pd.Series(pr_MSE).mean())
print('Среднее значение ошибки RMSE =', pd.Series(pr_RMSE).mean())

Среднее значение ошибки MSE = 24.81972678589378
Среднее значение ошибки RMSE = 4.9596776361512